@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";


@import "base/animation";

@import "components/btn";


@import "layout/header";


@import "pages/thankyou";
@import "components/planFeatures";



@import "layout/footer";
@import "layout/navigation";