header {


  width: 100%;
  height: 7rem;

  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid $color-gray-300;


  .container {
    //border: 1px solid black;
    margin: 0 auto;
    flex-flow: row;
    height: 100%;
  }
  @media (max-width: 760px) {
    border-bottom: 1px solid $color-gray-300;
  }
  img {
    width: 17rem;
  }


  ul {

    display: flex;
    height: 100%;
    transition: all 0.3s;
    transform-origin: top;


    @media (max-width: 760px) {
      width: 100%;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      top: 7rem;
      left: 0;
      height: auto;
      background-color: $color-primary;
      z-index: 99999;
      padding-top: 1rem;
      padding-bottom: 0;
      border: none;

    }


    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: $color-primary;
      font-size: 1.5rem;
      font-weight: 500;


      @media (max-width: 760px) {

        width: 100% !important;
        min-height: 6rem;
        color: white;
        text-align: left;
        border-bottom: 1px dashed rgba(#fff,0.3);
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }

      a{
        //margin: 0 1rem;
        //padding: 0 1rem;
        text-transform: capitalize;
        padding: 10px 20px;
        cursor: pointer;


        @media (max-width: 760px) {
          text-align: center;
          width: 100% !important;
          margin: 0;
          padding: 0;
          min-height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;


        }

        &:hover{
          //text-decoration: underline;
          color: $color-primary;
          opacity: 1;

          @media (max-width: 760px) {
            color: white;
          }

        }
      }


      &:hover {
        color: $color-text;
      }

    }

  }





  .hideNav{

    @media (max-width: 760px) {
      transform: scaleY(0);
      height: 0;
      opacity: 0;
      overflow: hidden;
      padding-top: 0;
      position: absolute;
    }

  }


  .hamburgerMenu{
    transition: all 0.2s ease-in-out;

    margin: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    width: 3rem;
    height: 2.5rem;

    div{
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }

    @media (min-width: 760px) {
      display: none;

    }

  }



  .makeCross{
    transition: all 0.3s ease-in-out;

    @media (max-width: 760px) {
      display: flex;
      flex-flow: column;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      & > :nth-child(1) {
        transform: rotate(45deg);
      }

      & > :nth-child(2) {
        transform: rotate(-45deg) translate(1px, -1px);
      }

      & > :nth-child(3) {
        display: none;
      }

    }
  }


}