.featurePan{
  border: 1px solid #ececec;
  background-color: #fff;
  padding: 2rem 1.5rem;
  position: relative;
  box-shadow: 6px 6px 15px 1px rgba(0,0,0,.05);
  margin: 0.5rem 1rem;
  display: flex;
  cursor: pointer;


  &__left{

    display: flex;
    align-items: center;


    img{
      width: auto;
      height: 5rem;

      margin-right:2rem;

    }




    h4{
      font-size: 2rem;
    }
    p{
      font-size: 1.4rem;
    }


  }

}
