.popupNotification{
  /*min-width: 370px;*/
  /*min-height: 110px;*/
  width: auto;
  height: 5rem;
  position: fixed;
  top: 90vh;
  left: 2rem;
  overflow: hidden;
  z-index: 10000;



  pointer-events: none;


  &__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;

    padding: 0 3.5rem;

    border: 1px solid $color-gray-300;
    background-color: $color-gray-100;



    animation: showPopup 5s 5s ease-in-out forwards;


    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);


  }


  h2{
    font-size: 1.8rem;
    font-weight: 500;
  }




}


@keyframes showPopup {
  0%{
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);
  }

  10%{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }



  90%{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  100%{

    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);
    z-index: -1111;
  }
}




.hide{

}
