.sectionCheckout {

  background-color: #f1f5f6;
  flex-flow: column;

  padding-top: 2rem;


  &__productInfo {


    width: 90%;
    max-width: 90rem;
    flex-flow: column;
    align-items: flex-start !important;

    h4 {
      font-size: 2.2rem;
      margin-left: 1.5rem;

    }


    &__content{

      background-color: white;
      width: 100%;
      margin: 1rem 0 2rem;
      padding: 1.5rem;
      display: flex;
      flex-flow: column;


      .row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between !important;
        margin: 0 0 1rem;
        align-items: flex-start;


        @media screen and (max-width: 600px) {
          justify-content: center!important;
        }


      }




      &__about{

        width: 50%;
        display: flex;

        picture{
          display: flex;
        }

        &__img{
          margin-right: 3%;
          width: 15%;
          min-width: 6rem;



        }

        @media screen and (max-width: 600px) {
          width: 100%;
        }


      }


      &__select{
        width: 15%;
        flex-flow: column;

        @media screen and (max-width: 600px) {
          width: 40%;
          margin-top: 2rem;
        }

      }





      &__price{

        text-align: right;

        @media screen and (max-width: 600px) {
          width: 50%;
          margin-top: 2rem;
        }

        p{
          justify-content: flex-end;
        }

      }






      .row.total {


        justify-content: flex-end !important;

        margin-top: 3rem;

        h3 {
          font-size: 1.8rem;

          strong {
            font-weight: bold;
          }

          @media screen and (max-width: 600px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 2.5rem;
          }

        }
        @media screen and (max-width: 600px) {

          padding-top: 2rem;
          border-top: 1px solid $color-gray-300;
        }


      }





      h2 {
        font-size: 2.5rem;
        font-weight: bold;

        @media screen and (max-width: 600px) {
          font-size: 2.7rem;
        }
      }

      p {
        font-size: 1.5rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        flex-flow: wrap;

        @media screen and (max-width: 600px) {
          font-size: 1.8rem;
        }


        img{
          display: inline-block;
          width: 2rem;
          margin-left: 0.5rem;
        }
      }

      p.p-strike{
        text-decoration: line-through;
        font-size: 1.3rem;
      }

      .mb {
        width: 9rem;
        margin: 1rem 0;
      }


    }


  }


  &__productPrice {
    margin: 1.5rem 0 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: $color-primary;
  }


  &__smallText {


    max-width: 80rem;
    margin: 1.5em 0 0;
    text-align: center;
    font-size: 1.6rem;

    p {
      margin: 1rem;


      @media screen and (max-width: 500px) {
        text-align: left;
      }

    }


    img{
      width: 50%;
      max-width: 20rem;
    }

  }

}


.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $color-primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-primary transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white {
  background-color: white;
  width: 100%;
}


.checkoutform .input.focused,
.checkoutform .input:not(.empty) {
  opacity: 1;
}

.checkoutform .input.focused::-webkit-input-placeholder,
.checkoutform .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.checkoutform .input.focused::-moz-placeholder,
.checkoutform .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.checkoutform .input.focused:-ms-input-placeholder,
.checkoutform .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.checkoutform .input.focused + label,
.checkoutform .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.checkoutform .input.focused label {
  color: #24b47e;
}

.checkoutform .input.invalid label {
  color: #ffa27b;
}

.checkoutform .input.focused + label {
  background-color: #24b47e;
}

.checkoutform .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}
